/* 
#6C9A8B green
#e8998d tangerine
#EED2CC rose
#FBF7F4 pinky white
#A1683A brown */

.App {
  text-align: center;
}
.styles_simpleReactWeatherTemp__2PnUn, .styles_simpleReactWeatherCityIcon__wxZcO {
    color: #000000 !important;
}

.App-logo {
  border-radius: 75px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: slategray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-nav > ul {
  list-style-type: none;
}

.header-nav li {
  display: inline-block;
  margin: 0 10px 20px 10px;
}

.quiz {
  color: #FBF7F4;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}

.quiz input, .quiz select {
  border-radius: 5px;
  border: 2px solid #FBF7F4;
  margin: 0px 3px 0px 3px;
}

.quiz button {
  border-radius: 5px;
  background: #e8998d;
  color: #FBF7F4;
  border: 2px solid #fbf7f4;
}

.quiz-submit {
  padding: 3px 6px 3px 6px;
  margin-top: 15px;
}

.cocktail-name {
  border: 4px solid #FBF7F4;
  padding: 5px;
}

.cocktail-image {
  height: 40vh;
}

.quiz header {
  font-size: 35px;
  font-weight: 800;
  color: #E8998D;
}
