.App {
  text-align: center;
}
.styles_simpleReactWeatherTemp__2PnUn, .styles_simpleReactWeatherCityIcon__wxZcO {
    color: #000000 !important;
}

.App-logo {
  border-radius: 75px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: slategray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Beyblade {
  border-radius: 75px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Beyblade {
    animation: Beyblade-spin infinite 1s linear;
  }
}

@keyframes Beyblade-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Beyblade2 {
  border-radius: 75px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Beyblade2 {
    animation: Beyblade-spin infinite .2s linear;
  }
}

@keyframes Beyblade2-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
